In [1]:
# How to handing?
# 1. Upsampling
# 2. Downsampling

In [2]:
import pandas as pd
import numpy as np

In [3]:
# creating sample dataset
np.random.seed(42)

# dataset with 2 classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0

In [4]:
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [7]:
df = pd.concat([class_0, class_1])
df.head()

   feature1  feature2  target
0  0.496714  0.368673       0
1 -0.138264 -0.393339       0
2  0.647689  0.028745       0
3  1.523030  1.278452       0
4 -0.234153  0.191099       0

In [8]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

# Upsampling

In [9]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [10]:
df_majority.head()

   feature1  feature2  target
0  0.496714  0.368673       0
1 -0.138264 -0.393339       0
2  0.647689  0.028745       0
3  1.523030  1.278452       0
4 -0.234153  0.191099       0

In [11]:
df_minority.head()

   feature1  feature2  target
0  3.901191  2.696954       1
1  1.939339  1.666181       1
2  1.291593  3.173125       1
3  0.486286  2.369642       1
4  0.196860  1.892698       1

In [12]:
# upsampling perfromance
from sklearn.utils import resample

In [17]:
df_minority_upscaling = resample(df_minority, 
         replace=True, # sample with replacement
         n_samples=len(df_majority), # increase the number to match the majority
         random_state=42)

In [18]:
df_minority_upscaling.shape

(900, 3)

In [19]:
df_upsampled = pd.concat([df_majority, df_minority_upscaling])

In [20]:
df_upsampled

    feature1  feature2  target
0   0.496714  0.368673       0
1  -0.138264 -0.393339       0
2   0.647689  0.028745       0
3   1.523030  1.278452       0
4  -0.234153  0.191099       0
..       ...       ...     ...
52  0.806363  1.094268       1
65  0.337508  2.089581       1
76  1.437832  3.124113       1
42  1.451275  2.269127       1
74  3.310309  1.981291       1

[1800 rows x 3 columns]

In [21]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

# Downsampling

In [22]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [23]:
df_majority.shape

(900, 3)

In [24]:
df_minority.shape

(100, 3)

In [25]:
df_majority_downsampling = resample(df_majority,
                                    replace=False,
                                    n_samples=len(df_minority),
                                    random_state=42)

In [26]:
df_majority_downsampling.shape

(100, 3)

In [27]:
df_minority.shape

(100, 3)

In [28]:
pd.concat([df_minority, df_majority_downsampling])

     feature1  feature2  target
0    3.901191  2.696954       1
1    1.939339  1.666181       1
2    1.291593  3.173125       1
3    0.486286  2.369642       1
4    0.196860  1.892698       1
..        ...       ...     ...
398 -0.114540  0.267392       0
76   0.087047 -0.452306       0
196 -0.883857  0.078635       0
631  1.529550 -1.768439       0
751 -1.351685  0.325796       0

[200 rows x 3 columns]